.DS_Store
.Rhistory
.ipynb_checkpoints
.vscode/

# folders to ignore
flavia
tokens
lda-models
mallet-models
coherence-scores
results/fine-scale/mallet-models
results/fine-scale/tSNE
results/fine-scale/umap
results/fine-scale/distances
clean-data 
# clean-data needs to be ignored because the files in this folder are too large for git to handle
UK
USA
UK-USA
test
Australia
Canada
Ireland
NewZealand
Europe
India


gensim.log
__pycache__