.DS_Store
.Rhistory
.ipynb_checkpoints

# folders to ignore
flavia
old
tokens
lda-models
coherence-scores
results
clean-data 
# clean-data needs to be ignored because the files in this folder are too large for git to handle


gensim.log
__pycache__