.DS_Store
.Rhistory
.ipynb_checkpoints
.vscode/

# folders to ignore
flavia
tokens
lda-models
coherence-scores
results
clean-data 
# clean-data needs to be ignored because the files in this folder are too large for git to handle
UK
USA
UK-USA
test
Australia
Canada
Ireland
NewZealand



gensim.log
__pycache__